div.columns.is-gapless {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
}

div.columns {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
}

div.columns.ng-star-inserted{
    padding-left: 0px;
    padding-right: 0px;
}

div.columns{
    padding-left: 0px;
    padding-right: 0px;
}

div.column.is-one-third{
    padding: 0px;
}