<div class="columns">
    <div class="column is-one-third">
        <app-recipe-list (recipeUpdate)="recipe = $event" [deletedDetail]="detailDeleted"></app-recipe-list>
    </div>

    <div class="column ">

        <div class="columns is-gapless">
            <div class="column is-one-third">
                <app-recipe-detail [recipeDetail]="recipe" *ngIf="recipe; else info"
                    (deletedDetail)="detailDeleted = $event" (showDetailIngredient)="showIngredients($event)">
                </app-recipe-detail>
                <ng-template #info>
                    <p>Please Select a Recipe</p>
                </ng-template>
            </div>
            <div class="column is-one-third-mobile is-one-fifth-tablet is-one-fifth-desktop slide-in"
                [style.visibility]="isDisabled ? 'visible' : 'hidden'"
                style="margin-top: 10px; margin-left: 20px; margin-right: 20px;">
                <div class="content is-hidden-mobile">
                    <div class="field is-grouped">
                        <div class="tags has-addons">
                            <div *ngFor="let item of recipeIngredients" style="margin-right: 5px;">
                                <span class="tag">{{ item.name }}</span>
                                <a class="tag is-success" href="">
                                    Add
                                    <mat-icon mat-list-icon>shopping_cart</mat-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content is-hidden-tablet">
                    <div class="field is-grouped is-grouped-multiline">
                        <div class="control">
                            <div class="tags are-medium has-addons">
                                <div *ngFor="let item of recipeIngredients" style="margin-right: 5px;">
                                    <span class="tag">{{ item.name }}</span>
                                    <a class="tag is-success" href="">
                                        Add
                                        <mat-icon mat-list-icon>shopping_cart</mat-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>