<div style="padding-left: 10px;">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Placeholder" id="name" #inputName>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <mat-hint>Hint</mat-hint>
    </mat-form-field>&nbsp;
    <mat-form-field>
        <mat-label>Amount</mat-label>
        <input matInput type="number" placeholder="Placeholder" id="amount" #inputAmount>
    </mat-form-field>

    <div class="buttons">
        <button class="button is-success" (click)="onAddItem()">Add</button>
        <button class="button is-info">Clear</button>
        <button class="button is-danger">Delete</button>
    </div>
</div>